<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>AgentHandover</string>
    <key>CFBundleExecutable</key>
    <string>AgentHandover</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleName</key>
    <string>AgentHandover</string>
    <key>CFBundleIdentifier</key>
    <string>com.agenthandover.app</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>0.2.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Sandro Andric. Apache 2.0 License.</string>
    <key>SUPublicEDKey</key>
    <string>/0p0TTgbLloxiQqGwRSm2rw7PCKE+E5y3EJZkKGzYi4=</string>
    <key>SUFeedURL</key>
    <string>https://www.agenthandover.com/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
